body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:167px;
  width:1080px;
  height:5997px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5997px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2990px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:167px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:167px;
}
#u4 {
  position:absolute;
  left:2px;
  top:76px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:190px;
  width:1040px;
  height:1080px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
